/* Carousel */
html {
    background: #624CAB;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    color: #ffffff;
}

.high, .low {
    display: inline-block;
    padding-top: 5%;
}

.temp {
    font-size: 11em;
}

.currently, .high, .low {
    font-size: 2em;
}

.currently {
    padding-bottom: 5%;
}

.city {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 1em;
}

.hoodie {
    background-image: url(/img/hoodie.svg);
    background-size: cover;
}

.tshirt {
    background-image: url(/img/tshirt.svg);
    background-size: cover;
}

.raincoat {
    background-image: url(/img/raincoat.svg);
    background-size: cover;
}

img {
    padding: 40%;
}